{% extends 'water_system/index.html' %}
{% block head %}
<title>跳转</title>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="jumbotron">
                  <div class="container">
                    <h3><a href="/login">还未登录<span>3</span>秒后跳转到登陆网页</a></h3>
                  </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <script>
        {% if msg %}
            alert("你还未登录")
        {% endif %}
		let a = document.getElementsByTagName('h3')[0]
		a.style.textDecoration = 'none'
		let num=3
		time = setInterval(function () {
			num --
			a.innerHTML = `还未登录<span>${num}</span>秒后跳转到登陆网页`
			// alert(`一起支持${num}秒后跳转到洛谷`)

			if(num === 0){
				clearInterval(time)
				location.href = '/login'
			}
		},1000)
	</script>
{% endblock %}
