{% extends 'water_system/index.html' %}
{% block head %}
<title>供应商信息</title>
{% endblock %}
{% block content %}
<div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="panel panel-default">
                  <!-- Default panel contents -->
                  <div class="panel-heading">供应商信息表</div>

                  <!-- Table -->
                  <table class="table">
                        <tr>
                            <td>公司</td>
                            <td>供水种类</td>
                            <td>供水编号</td>
                            <td>售价(元/桶)</td>
                        </tr>
                      {% for pa in provider %}
                        <tr>
                            <td>{{ pa.name }}</td>
                            <td>{{ pa.wid.type }}</td>
                            <td>{{ pa.wid.wid }}</td>
                            <td>{{ pa.wid.sell }}</td>
                        </tr>
                      {% endfor %}
                  </table>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock %}
