<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="45236d2e450240efb4d56244e1d9466e" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_45236d2e450240efb4d56244e1d9466e = echarts.init(
            document.getElementById('45236d2e450240efb4d56244e1d9466e'), 'white', {renderer: 'canvas'});
        var option_45236d2e450240efb4d56244e1d9466e = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u8d75\u6b23\u59d0",
                    "value": 10
                },
                {
                    "name": "\u6768\u56de",
                    "value": 8
                },
                {
                    "name": "\u738b\u83b9",
                    "value": 8
                },
                {
                    "name": "\u675c\u592b\u548c",
                    "value": 6
                },
                {
                    "name": "\u70c8\u706b",
                    "value": 5
                },
                {
                    "name": "\u738b\u534e",
                    "value": 5
                },
                {
                    "name": "\u90d1\u9633",
                    "value": 5
                },
                {
                    "name": "\u5b59\u767e\u5ddd",
                    "value": 4
                },
                {
                    "name": "\u7b49\u54c8\u5c31",
                    "value": 4
                },
                {
                    "name": "\u674e\u660e",
                    "value": 3
                }
            ],
            "radius": [
                "0%",
                "75%"
            ],
            "center": [
                "50%",
                "50%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u8d75\u6b23\u59d0",
                "\u6768\u56de",
                "\u738b\u83b9",
                "\u675c\u592b\u548c",
                "\u70c8\u706b",
                "\u738b\u534e",
                "\u90d1\u9633",
                "\u5b59\u767e\u5ddd",
                "\u7b49\u54c8\u5c31",
                "\u674e\u660e"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u8d2d\u6c34\u8868",
            "top": "50",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_45236d2e450240efb4d56244e1d9466e.setOption(option_45236d2e450240efb4d56244e1d9466e);
    </script>
</body>
</html>
